<div class="container">
  <div class="row nav-margin">
    <nav class="col-md-12 navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="navbar-brand mb-0 h1">
        <i class="fas fa-chart-bar" aria-hidden="true"></i> Novel COVID-19
        Dashboard
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"></li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/NihalAhmedBismillah">
              <i class="fab fa-github" aria-hidden="true"></i> GitHub
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="row">
    <div id="chartConfirmedContainer" class="col-md-6 confirmed-graph"></div>
    <div id="chartDeathsContainer" class="col-md-6 confirmed-graph"></div>
  </div>
  <div class="row">
    <div id="chartRecoveryContainer" class="col-md-6 confirmed-graph"></div>
    <div></div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <input
        [(ngModel)]="regionName"
        type="text"
        name="regionName"
        (keyup)="searchRegion(regionName)"
        id="regionName"
        placeholder="Search..."
        class="form-control user-search-text"
      />
    </div>
    <div class="col-md-6 form-group">
      <button  type="button" (click)="refresh()" class="btn btn-primary">Refresh</button>
    </div>
  </div>
  <div class="row table-margin">
    <table class="table table-bordered">
      <thead>
        <tr class="table-thead-th">
          <th></th>
          <th (click)="toggleSorting('REGIONS')">Country/Regions</th>
          <th (click)="toggleSorting('CONFIRMED')">
            Confirmed
            <span class="pull-right" *ngIf="confirmArrow === 'UP'">&uarr;</span>
            <span class="pull-right" *ngIf="confirmArrow === 'DOWN'"
              >&darr;</span
            >
          </th>
          <th (click)="toggleSorting('ACTIVE')" >Active
            <span class="pull-right" *ngIf="activeArrow === 'UP'">&uarr;</span>
            <span class="pull-right" *ngIf="activeArrow === 'DOWN'"
              >&darr;</span
            >
          </th>
          <th (click)="toggleSorting('RECOVERED')" >Recovered 
            <span class="pull-right" *ngIf="recoveredArrow === 'UP'">&uarr;</span>
            <span class="pull-right" *ngIf="recoveredArrow === 'DOWN'"
              >&darr;</span
            >
          </th>
          <th (click)="toggleSorting('RECOVEREDPERCENTAGE')">Recovered Percentage 
            <span class="pull-right" *ngIf="recoveredPercentageArrow === 'UP'">&uarr;</span>
            <span class="pull-right" *ngIf="recoveredPercentageArrow === 'DOWN'"
              >&darr;</span
            >

          </th>
          <th (click)="toggleSorting('DEATHS')">
            Deaths
            <span class="pull-right" *ngIf="deathsArrow === 'UP'">&uarr;</span>
            <span class="pull-right" *ngIf="deathsArrow === 'DOWN'"
              >&darr;</span
            >
          </th>
          <th (click)="toggleSorting('PERCENTAGE')">
            Deaths Percentage
            <span class="pull-right" *ngIf="percentageArrow === 'UP'"
              >&uarr;</span
            >
            <span class="pull-right" *ngIf="percentageArrow === 'DOWN'"
              >&darr;</span
            >
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="table-tbody-tr"
          *ngFor="let data of responseData; let i = index"
        >
          <td>
            <input
              type="radio"
              [(ngModel)]="data.selectedCountry"
              name="countryName"
              [checked]="data.selectedCountry"
              [value]="data.selectedCountry"
              (click)="selectedCountry(data)"
            />
          </td>
          <td>{{ data.regionName }}</td>
          <td>{{ data.confirmed }}</td>
          <td>{{ data.activeCase }}</td>
          <td>{{ data.recovered }}</td>
          <td>{{ data.recoveredPercentage | number: "1.2-2" }}</td>
          <td *ngIf="data.deaths > 4000" class="high-condition">
            {{ data.deaths }}
          </td>
          <td
            *ngIf="data.deaths <= 4000 && data.deaths > 100"
            class="medium-condition"
          >
            {{ data.deaths }}
          </td>
          <td *ngIf="data.deaths <= 100" class="low-condition">
            {{ data.deaths }}
          </td>
          <td>{{ data.deathsPercentage | number: "1.2-2" }}%</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="footer">
      <div class="div-space-10" >
       <strong class="space-info"> Information source</strong>
        <a href="https://github.com/bumbeishvili/covid19-daily-data" target="_blank"
          > <strong class="space-info">here</strong> 
        </a>
        <strong class="space-info">Note : Data may vary from different sources. </strong>
       <strong class="space-info">| Learner</strong> 
        <a
          class="pull-right"
          href="https://www.linkedin.com/in/nihal-ahmed-45181a3b/"
          target="_blank"
          >
          <strong class="space-info">Nihal Ahmed</strong> 
          
          </a
        >
      </div>
    </div>
  </div>
</div>
